@model JiaJiNewWeb.Models.Pager<JiaJiNewWebModel.Home.SearchDetails>
@{
    ViewBag.Title = "SouSuo";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    (function ($) {
        $.fn.extend({
            textOverflow: function (options) {
                var defaults = {
                    target: 'p'
                }
                var options = $.extend(defaults, options);
                return this.each(function () {
                    var $this = $(this);
                    var $tag = $this.find(options.target);
                    while ($tag.outerHeight() > $this.height()) {
                        $tag.text($tag.text().replace(/(\s)*([a-zA-Z0-9]+|\W)(\.\.\.)?$/, '...'));
                    };
                })
            }
        });
    })(jQuery);

    $(".datails").textOverflow();

</script>
<style>
     .em {
        color: #609ef3;
    }
    .tab_hd td a {
        color: black;
        text-decoration: none;
    }

        .tab_hd td a:hover {
            color: #3398FF;
        }

    #HotActive a {
        color: #666666;
        text-decoration: none;
    }

        #HotActive a:hover {
            color: #3398FF;
        }
</style>
<style>
    .FenYe span {
        display: block;
        width: 40px;
        height: 40px;
        float: left;
        text-align: center;
        cursor: pointer;
        color: #666666;
    }

    .tab_hd tr td {
        height: auto;
        line-height: 25px;
        font-size: 16px;
        color: #666666;
    }
    li a {
        color:#666666;
    }
    li a:hover {
        color: #609ef3;
    }
    .rmhd ul li a, .jjgd ul li a {
        list-style-type:none;
        text-decoration:none;
    }
    .FenYe a{
        padding:0 20px;border:1px solid #dadada;color:#666666;
    }
    .FenYe a:hover{
        border:1px solid #3398FF; color:#3398FF;
    }
</style>
<div style="width:1100px;margin:0 auto;height:auto;">
    <div style="width:100%;line-height:50px;">
        <div style="width:730px;line-height:50px;border-bottom:3px solid #5E9FF3;">当前位置：首页> 搜索页面></div>
    </div>
    <div style="width:100%;height:auto;">
        <div style="width:750px;float:left;height:auto;">
            <div id="con">
                <div style="width:100%;height:auto;margin-top:10px;">
                    <div style="width:680px;height:auto;">
                        @foreach (var item in Model.Model)
                        {
                            <table style="width:730px;height:auto;display:block;border-bottom:1px dashed #dadada;padding-bottom:8px;" class="tab_hd">

                                <tr>
                                    <td style="color:#000000;font-size:20px;font-weight:600;height:auto;line-height:40px;"><a  href="@item[item.activetable]/@item.ActiveID " class="title">@Html.Raw(item.ActiveTitle)</a></td>
                                </tr>
                                <tr>
                                    <td style="height:auto">详情描述：<div style="overflow:hidden;text-overflow:ellipsis;max-height:100px;" class="datails">@Html.Raw(item.Datails)</div></td>
                                </tr>

                            </table>
                        }
                    </div>

                </div>
            </div>
            <div class="FenYe" style="width:100%;height:40px;line-height:40px;margin:0 auto;margin-top:30px;text-align:center;">
                @{
                    var index = HttpContext.Current.Request["pageIndex"] == null ? 1 : Convert.ToInt32(HttpContext.Current.Request["pageIndex"]);
                    var selName = HttpContext.Current.Request["selName"].ToString();
                    var size = Model.PageSize;
                    var total = Model.PageTotal;
                    var url = HttpContext.Current.Request.Url.AbsolutePath;


                                        <a>每页@(size)条</a>                    @*<a>&nbsp;&nbsp;&nbsp;&nbsp;</a>*@
                    if (index > 1)
                    {
                        <a href="@url?selName=@selName&pageIndex=@(index-1)">上一页</a>
                    }
                    else
                    {
                        <a>上一页</a>
                    }
                    int start = index - 2;
                    if (start < 1) { start = 1; }
                    if (index + 2 >= total && total >= 5) { start = total - 4; }
                    for (int i = start; i < start + 5; i++)
                    {
                        if (i > total) { break; }
                        if (i == index)
                        {
                            <a>@i</a>
                        }
                        else
                        {
                            <a href="@url?selName=@selName&pageIndex=@i">@i</a>
                        }
                    }
                    if (index < total)
                    {
                        <a href="@url?selName=@selName&pageIndex=@(index+1)">下一页</a>
                    }
                    else
                    {
                        <a>下一页</a>
                    }
                  
                        <a>第@(index)页/共@(total)页</a>
                        }
</div>
        </div>
        <div style="width:350px;float:right;height:900px;">
            
            @{
                foreach (var item in ViewBag.OptionImage as List<JiaJiNewWebModel.Option>)
                {
                    <div style="width:100%;height:200px;background:url('@item.OptionUrl') center no-repeat;background-size:100% 100%;"></div>
                }
            }

            <div style="width:100%;height:240px;margin-top:20px;">
                <div style="font-size:20px;width:200px;height:30px;border-left:4px solid #5E9FF3;line-height:30px;padding-left:10px;font-weight:600;">热门活动</div>
                <div class="rmhd">
                    <ul style="width:300px;margin:0px;padding:0px;line-height:30px;margin-top:10px;">
                        @{
                            foreach (var item in ViewBag.activelist as List<JiaJiNewWebModel.Active>)
                            {
                                <li style="overflow: hidden;white-space:nowrap;text-overflow:ellipsis;"><a  href="/Content/Active/@item.ActiveID">·  @item.ActiveTitle</a></li>

                            }
                        }

                    </ul>
                </div>
            </div>

            <div style="width:100%;height:240px;margin-top:20px;">
                <div style="font-size:20px;width:200px;height:30px;border-left:4px solid #5E9FF3;line-height:30px;padding-left:10px;font-weight:600;">嘉际观点</div>
                <div class="jjgd">
                    <ul style="width:300px;margin:0px;padding:0px;line-height:30px;margin-top:10px;">
                        @{
                            foreach (var item in ViewBag.optionlist as List<JiaJiNewWebModel.Option>)
                            {
                                <li style="overflow: hidden;white-space:nowrap;text-overflow:ellipsis;"><a  href="/Content/OptionShow/@item.OptionID">·  @item.OptionTitle</a></li>
                            }

                        }
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>



<script>
    var pageindex = 1;
    var allrowcount = "";
    $(function () {
        var selName = "@ViewBag.selName";

        //Rowcount();

        $(".datails").each(function () {
            var text = $(this).text().substr(0, 100);
            text = text.replace(selName, "<span class=\"em\">" + selName + "</span>");
            if (text.length>100)
            {
                this.innerHTML = text + "...";
            }
            
        });
        $(".title").each(function () {
            var text = $(this).text();
            text = text.replace(selName, "<span class=\"em\">" + selName + "</span>");
            this.innerHTML = text;
        });

    })


    //function Rowcount() {
    //    $.ajax({
    //        type: "get",
    //        url: "/Home/GetRowCounts",
    //        async: false,
    //        success: function (data) {
    //            allrowcount = data;
    //            var strin = "";
    //            $(".FenYe").empty();
    //            if (data == 0) {
    //                return;
    //            }

    //            strin += '<span style="width:60px;" onclick="last()">上一页</span>';
    //            for (var i = 1; i <= Number(data) ; i++) {
    //                if (pageindex == i) {
    //                    strin += '<span style="color:red;" onclick="on(' + i + ')">' + i + '</span >';
    //                }
    //                else {
    //                    strin += '<span onclick="on(' + i + ')">' + i + '</span >';
    //                }
    //            }
    //            strin += '<span style="width:60px;" onclick="next()">下一页</span>';
    //            $(".FenYe").append(strin);
    //        }
    //    })
    //}
    //function on(id) {
    //    GetInformationList(id);
    //    Rowcount();
    //}
    //function last() {
    //    if (Number(pageindex) > 1) {
    //        pageindex = Number(pageindex) - 1;
    //        GetInformationList(pageindex);
    //        Rowcount();
    //    }
    //    else {
    //        alert("当前已经是第一页了");
    //    }
    //}
    //function next() {
    //    if (Number(pageindex) < Number(allrowcount)) {
    //        pageindex = Number(pageindex) + 1;
    //        GetInformationList(Number(pageindex))
    //        Rowcount();
    //    }
    //    else {
    //        alert("当前已经是最后一页了");
    //    }
    //}
</script>




